&#39;https://rawgit.com/mastamvan/image/master/download.png&#39;
&#39;https://rawgit.com/mastamvan/image/master/coc.png&#39;
&#39;https://rawgit.com/mastamvan/image/master/clash-royale-icon.png&#39;
&#39;https://rawgit.com/mastamvan/image/master/get-rich-icon.png&#39;
&#39;https://assets.jalantikus.com/assets/cache/300/300/apps/2015/02/18/cc-icon.jpeg&#39;
&#39;https://assets.jalantikus.com/assets/cache/96/96/apps/2017/04/13/opera-icon.jpeg&#39;
&#39;https://assets.jalantikus.com/assets/cache/96/96/apps/2016/07/19/uc-for-pc-icon.png&#39;
&#39;http://lh3.googleusercontent.com/YzGbxiRhq7cxanI4_Utc5UeIh4u9zn6PSH96c1-RrlWzybGmYpZLsOSFAi8uvam6h7Ww=w300-rw&#39;
